{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'home/default-links.html' %}
        <link rel="stylesheet" href="{% static 'home/css/globals.css' %}"/>
        <link rel="stylesheet" href="{% static 'home/css/forgot-password.css' %}"/>
        <title>GoTask - Forgot password</title>
    </head>

    <body>

        <div class="center-align top-spacing">
            <div class="boxed">
                <div class="forgot-password-header">
                    <span class="primary-c text-lg">Forgot password</span><br>
                    <span>Forgot your password? No problem, you can reset it.</span>
                </div>
                <form method="POST">
                    <input type="email" placeholder="Email" class="form-input"><br>
                    <a href="{% url 'forgot-password' %}" class="primary-c forgot-password-text">Remembered your password</a>
                    <button class="auth-btn">Reset</button>
                </form>

                <span class="">Don't have an account?
                    <a href="{% url 'sign-up' %}" class="primary-c"> Sign up</a>
                </span>
            </div>
        </div>

    </body>
</html>