
/* forgot-password-header */
.forgot-password-header{
    padding-bottom: 15px;
}

/* form */
form{
    margin-bottom: 20px;
}

/* forgot-password */
.forgot-password-text{
    float: inline-end;
    padding: 10px;
}